.navigation {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#a8a7a7, #585858 ); 
    text-align: center;
}
.navigation__item {
    float: left;
    text-align: center;
    padding: 0;
    display: block;
    width:20%;
}
.navigation__link {
    display: block;
    height: 100%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation__link:hover {
    display: block;
    background-color: red;
}
.navigation__dropdown {
    display: none;
    position: absolute;
    background: linear-gradient(white, #464444);
    min-width: 20%;
    z-index: 1;
    list-style-type: none;
    padding-left: 0;
}
.navigation__dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.navigation__dropdown-link:hover {
    background-color: #161515;
    color: white;
}
.navigation__item--has-dropdown:hover .navigation__dropdown, .navigation__item--has-dropdown:hover .sidebar__navigation__dropdown{
    display: block;
}
.sidebar__navigation__item {
    text-align: center;
    padding: 0;
    display: block;
    width: 100%;
}
.sidebar__navigation__link {
    display: block;
    height: 50%;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.sidebar__navigation__dropdown {
    display: none;
    position: absolute;
    background: linear-gradient(white, #464444);
    min-width: 30%;
    z-index: 1;
    list-style-type: none;
    padding-left: 0;
}