* {
    margin: 0;
    padding: 0;
}
.wrapper {
    font-family: Arial;
    width: 100%;
    margin: 10px auto;
    height: 1660px;
    background: linear-gradient(white, #5c5b5b, white, #6b6a6a, white,#5e5c5c, white, #5e5c5c, white, #2c2b2b, white);
    }   
.header {
    width: 100%;
    height: 260px;
    margin: 0;
    }      
.header__logo {
    float: left;
    }      
.header__text {
    font-size: 50px;
    text-transform: uppercase;
    width: 70%;
    float: right;
    margin: 100px auto;
    }
.header__navigation {
    clear: both;
    height: 50px;
}
.main {
    clear: both;
    width: 100%;
    height: 1000px;
    margin-top: 50px;
}
.main__sidebar {
    text-align: center;
    float: right;
    width: 30%;
    padding-top: 10px;
}
.main__sidebar__navigation {
    width: 100%;
    height: 148px;
}
.main__sidebar__frames {
    width: 100%;
    height: 1178px;
}
iframe {
    width: 100%;
    height: calc(50% - 48px);
}
h3 {
    text-transform: uppercase;
    font-size: 16px;
    padding:4px 5px;
}
.main__product {
    width: calc(70% - 2px);
}
.main__product__article {
    width: calc(100% - 24px);
    height: 450px;
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    color: #0a0909;
    padding: 12px;
}
.main__product__article__image {
    float: left;
    max-width: 35%;
}
.main__product__forma {
    height: 550px;
    margin:0 4px;
    font-family: 'Merriweather', serif;
}
.main__product__forma--left {
    width: 49%;
    height:470px;
    float: left;
    margin: 2px;
}
.flrightimg {
    float: right;
    max-height: 110px;
    transition: transform .2s; /* Animation for zoom */
}
.flrightimg:hover {
    transform: scale(3.0); /* 300% zoom */
}
.fieldset1 {
    height: 135px;
}
#fieldset2 {
    height: 80px;
}
#fieldset3 {
    height: 190px;
}
.fieldset3__list, .fieldset1__list {
    list-style-type: none;
}
#flsubmit {
    float: right;
    margin-right: 12px;
}
.main__product__vidaud {
    height: 310px;
    width: calc(100% - 8px);
    margin:0 4px;
}
.main__product__vidaud--left {
    float: left;
    width: 50%;
    height: 100%;
    background: url("css_images/juve.jpg");
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}
audio {
    padding-top: 278px;
    width: 100%;
}
.main__product__vidaud--right {
    float: right;
    height: 100%;
    width: 50%;
    background-color: #000000;
    border-radius: 15px;
}
video{
    height: 100%;
    width: 100%;
}
footer {
    height: 40px;
    clear: both;
    width: 100%;
    color: #000000;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 24px;
}